/CreateNewREADME.py
/PyCharmStarter.py
/test/
**/.idea/*
/CreateBasicFolder.sh
/library/archive/
/output/
/supplement_data/
/tmp/
/ListFile.py
/input/
/data/
/library/
/recycle.py
/start_jupyter.bat
/TAG_TO_BACKUP.py
/model/
/GitAddBasicFile.sh
/TAG_XX.py
**/VSCodeStarter*.py
**/CursorStarter*.py
**/__pycache__/
**/archive/
**/*.log
MODE_*
AddSourceInfo.sh
RevealCurrentFolder.py
GetNewPython.py
pack.py

**/archive/
**/MODE_*
**.log
**/*_credential*.py
**/*_credential*

**/bkp


**/*.xlsx
**/*.docx
**/*.json
**/*.pptx


.DS_Store


**/OpenTerminalOnCurrentFolderMac*

*.jpeg
*.jpg
*.png
*.webp
*.gif
*.bmp
*.tiff


*.mp4
*.env


CreateReadme.py
TraeStarterMac.py
GenerateTraceFile.py


!assets/*

exports.images/

exports
SmartTerminal

unpack.py


tmpclaude-*-cwd

README_HIDE.md

.DS_Store